#projects {
  margin: 1rem auto;
  /* min-height: calc(100vh - 4rem); */
  width: 100vw;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.projectsTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.web-projects,
.other-projects {
  margin-top: 1rem;
}

.project-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 50vw;
  }
}
