#educations {
  margin: 0 auto;
  width: 100vw;
  max-width: 60rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.educationsTitle {
  margin: 1rem 0;
  font-size: 3rem;
}
