.navbar {
  color: #ffffff;
  background: #022346;
  height: 5rem;
  width: 100vw;
  /* max-width: 100rem; */
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 150;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}

.desktopMenuListItem:hover {
  color: #cc1c45;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #cc1c45;
}

.desktopMenuBtn {
  background: #ffffff;
  color: #022346;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.resume-btn {
  padding: 10px 20px;
  border: 2px solid #022346;
}

.resume-btn:hover {
  color: #ffffff;
  background-color: #022346;
  border: 2px solid #ffffff;
}

.resume-btn:active {
  color: #ffffff;
  background-color: #033569;
  border: 2px solid #ffffff;
}

.resume-btn > i {
  margin-right: 0.5em;
}

.active {
  color: #cc1c45;
  border-bottom: 3px solid #cc1c45;
  padding-bottom: 0.5rem;
}

.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: #022346;
  border-radius: 3rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: #022346;
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
  }

  .desktopMenu {
    display: none;
  }

  .desktopMenuBtn {
    display: none;
  }
}
