.intro {
  background-image: url(../../assets/images/intro-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
}

.intro-info {
  background-color: #022346;
  width: 50%;
  position: absolute;
  bottom: 20%;
  padding: 10px;
}

.intro-detail {
  padding-left: 1rem;
}

.intro-detail a {
  display: block;
}

@media only screen and (max-width: 600px) {
  .intro {
    background-position: right;
  }

  .intro-info {
    width: 100%;
    bottom: 5%;
  }
}
