.footer {
  width: 100vw;
  height: 4rem;
  background-color: #022346;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
  font-size: small;
  color: #ffffff;
}

.footer-contact {
  display: flex;
  font-size: 1.5rem;
}

.footer-contact a {
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer-contact {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }

  .footer-contact a {
    padding: 0;
  }
}
